.heroLeftItem {
    animation: 0.5s ease-in 0s alternate leftHeroItem
}

@keyframes leftHeroItem {
    0% {
        transform: translateX(calc(100% + 48px));
    }

    100% {
        transform: translateY(181px);
        }
}