.btn {
    display: inline-flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    background-color: #fff;
    width: max-content;
    padding: 16px 24px;
    border-radius: 16px;

    font-family: var(--second-family);
    font-weight: 600;
    font-size: clamp(0.688rem, -0.082rem + 1.2vw, 1rem);
    line-height: 150%;
    text-transform: uppercase;
    text-decoration: none;

    transition: var(--btn-trs);
}

.btn--black {
    background-color: #141416;
    color: #fff;
}

.btn--border-black {
    border: 1px solid #141416;
    color: #141416;
}

.btn--border-white {
    border: 1px solid #fff;
    background-color: #141416;
    color: #fff;
}

.btn--vector svg {
    transition: var(--btn-trs);
}

.btn--slider {
    background-color: inherit;
    border-radius: 0;
}

.btn--slider:first-of-type {
    padding-right: 35px;
    border-right: 1px solid #e6e8ec;
}

.hero-prev {
    padding: 0 35px 0;
    border-right: 1px solid #e6e8ec;
}

.btn--weekly {
    font-family: var(--font-family);
    padding: 12px 21px;
}


@media (any-hover: hover) {
    .btn--vector:hover svg path {
        transition: fill 0.3s ease-in-out;
        fill: #23262F;
    }

    .btn--black:hover {
        color: #141416;
        background-color: #fff;
        outline: 1px solid #141416
    }

    .btn--border-black:hover {
        color: #fff;
        background-color: #141416;
    }
}

.btn--border-black:active {
    color: #fff;
    background-color: #141416;
}

.btn--black:active {
    color: #141416;
    background-color: #fff;
    outline: 1px solid #141416
}

.btn:focus-visible {
    outline: 1px dashed #141416;
}

.btn--black:focus-visible {
    outline: 1px dashed lightblue;
}