.header {
    margin-bottom: 111px;
    position: sticky;
    top: -5px;
    background-color: inherit;
    z-index: 10;
    padding-bottom: 15px;

    transition: top 0.3s ease-out;
}

.header--hidden {
    top: -20%;

}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-top: 45px;
}

.header__left {
    display: flex;
    align-items: center;
    gap: 57px;
}

.nav {
    transition: top 0.3s ease-out, left 0.3s ease-out,
     transform 0.5s ease-out, backgroung-color 0.5s ease, opacity 0.5s ease;
}

.nav__list {
    display: flex;
    align-items: center;
    gap: 36px;

    transition: opacity 0.3s ease-out, transform 0.3s ease-out, background-color 0.3s ease;
}

.nav__item {
    position: relative;
}

.nav__link {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: clamp(0.75rem, -0.019rem + 1.2vw, 1.063rem);
    line-height: 150%;
    text-transform: uppercase;
    color: #606060;
    padding: 5px;

    transition: color 0.3s ease, text-decoration 0.3s ease;
}

@media (any-hover:hover) {
    .nav__link:hover {
        color: #141416;
        text-decoration: underline;
    }
}

.header__right {
    display: flex;
    align-items: center;
    gap: 30px;
}