span {
    display: inline-flex;
}

.span--statistics-title {
    font-family: var(--font5);
    font-weight: 600;
    font-size: 36px;
    line-height: 125%;
    text-align: center;
    color: #141416;
}

.span--statistics-subtitle {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    color: #848586;
}