span {
    display: inline-flex;
}

.span--statistics-title {
    font-family: var(--font5);
    font-weight: 600;
    font-size: 36px;
    line-height: 125%;
    text-align: center;
    color: #141416;
}

.span--statistics-subtitle {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    color: #848586;
}

.span--bid {
    display: flex;
    flex-direction: column;
}

.span--bid__top {
    width: fit-content;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: #94a3b8;
}

.span--bid__bot {
    display: flex;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #141416;
}

.span--author-name {
    font-weight: 500;
    font-size: 15px;
    line-height: 140%;
    color: #141416;
}

.span--author-nick {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #64748b;
}

.span--green {
    font-weight: 400;
    font-size: 13px;
    line-height: 150%;
    color: #10c352;
}

.span--red {
    font-weight: 400;
    font-size: 13px;
    line-height: 150%;
    color: #e23333;
}